*{
    box-sizing: border-box;
    font-family: sans-serif;
}
p{
    font-size: 18px;
    text-align: justify;
}
h1{
    text-align: center;
}
div{
    background-color: aquamarine;
    padding: 20px;
    margin: 0px auto;
    height: 400px;
    width: 80vw;
    max-width: 1000px;
    /* overflow: hidden; */ 
    overflow: auto;
}



